html, body {
    background-color: #388aff;
    font-family: 'Nunito', 'Roboto', sans-serif;
}

.loginMenu{
    left: 50%;
    top: 50%;
    width: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}